<link rel="stylesheet" href="/css/admin-page.css">
<div class="topbar">
    <div class="toggle">
        <i class="bi bi-list"></i>
    </div>

    <div class="search">
        <label>
            <input type="text" placeholder="Search here">
            <i class="bi bi-search"></i>
        </label>
    </div>

    <div class="user">
        <img src="/images/user.png" alt="user image">
    </div>
</div>