<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login Page</title>
</head>
<body>
    <div class="wrapper">
        <h1>Customer</h1>
        <form id="request" class="customer_form" action="/customers/customer-login" method="POST" >
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <!-- <input type="password" name="rePassword" placeholder="Re-Enter Password"> -->
            <button type="submit">Login</button>
        </form>
        <div class="terms">
            <input type="checkbox" id="checkbox">
            <label for="checkbox">I accept the
                <a href="#">Privacy Policy</a></label>
            </div>
                <div class="member">
                Are you an admin? <a href="./admin-login">Login Here</a>
            </div>
        </div>
</body>
</html>